{% extends 'base.html' %}
{% block title %}about{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <br><br><br>
               <header>
        <h1>CropCare Ethiopia: Revolutionizing Agriculture with Technology</h1>
    </header>

    <section>
        <h2>About CropCare Ethiopia</h2>
        <p>CropCare Ethiopia is a pioneering agri-tech company dedicated to transforming agriculture practices in Ethiopia. With a strong commitment to enhancing crop health, optimizing yields, and supporting sustainable farming, CropCare Ethiopia offers a range of innovative products and services tailored to the Ethiopian agricultural landscape.</p>
    </section>

    <section>
        <h2>Disease Classification for Plants</h2>
        <p>One of CropCare Ethiopia's flagship solutions is its advanced disease classification system for plants. Harnessing the power of cutting-edge machine learning and image recognition technology, this system enables farmers and agronomists to swiftly identify and diagnose plant diseases with unparalleled accuracy. By analyzing images of afflicted crops, the system provides real-time insights into disease types, severity levels, and recommended treatments. This invaluable tool empowers Ethiopian farmers to take timely action to safeguard their crops and minimize yield losses.</p>
    </section>

    <section>
        <h2>Suggestion and Recommendation Systems for Crop Types</h2>


        </div>
    </div>
</div>
 
{% endblock body %}